.footer {
  background: var(--dark-pink);
  padding: 40px 0;
  .contact-link {
    color: var(--white-color);
    margin-bottom: 12px;
    &:hover {
      text-decoration: underline;
    }

    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__item {
    padding: 16px;
    &:last-child {
      margin-top: 40px;
    }
  }

  &__nav-menu {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  &__bottom-link {
    color: var(--white-color);
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
  &__links {
    max-width: 600px;
  }
  &__policy {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.logo {
  width: 100px;
  .logo-img {
    width: 100%;
  }
}
