*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@font-face {
  font-family: "DMSerifText";
  src: local("DMSerifText");
  src: url(assets/fonts/DM_Serif_Text/DMSerifText-Regular.ttf);
}

@font-face {
  font-family: "Roboto-VariableFont";
  src: local("Roboto");
  src: url(assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf);
}

html {
  scroll-behavior: smooth;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto-VariableFont", sans-serif;
}
.hidden {
  overflow: hidden;
}

button {
  outline: none;
  border: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.container {
  --container-padding: 20px;
  max-width: calc(1560px + 3 * var(--container-padding));
  padding: 0 var(--container-padding);
  margin: auto;
}

.section {
  margin-bottom: 100px;
}

h1,
.h1 {
  font-family: "DMSerifText", serif;
  font-size: 40px;
  @media (min-width: $md) {
    font-size: 64px;
  }
  line-height: 120%;
  text-wrap: balance;
  margin-bottom: 20px;
}

h2,
.h2 {
  font-family: "DMSerifText", serif;
  font-size: 26px;
  @media (min-width: $md) {
    font-size: 48px;
  }
  line-height: 110%;
  text-wrap: balance;
  margin-bottom: 20px;
}

h3 {
  font-family: "DMSerifText", serif;
  margin-bottom: 12px;
}

p,
a {
  font-size: 16px;
  @media (min-width: $md) {
    font-size: 20px;
  }
}
p {
  margin-bottom: 8px;
}
a {
  display: inline-block;
}

.subtitle {
  font-size: 24px;
  @media (min-width: $md) {
    font-size: 32px;
  }

  line-height: 120%;
}

.title-wrap {
  text-align: center;
  margin-bottom: 32px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fs-italic {
  font-style: italic;
}

.img-fill {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-wrapper {
  padding: 16px;
  @media (min-width: $lg) {
    padding: 42px;
  }
  border-radius: var(--border-radius-md);
  &_pink {
    background: var(--pink);
  }
}

.text-primary {
  color: var(--primary-color);
}
