.section-gallery {
}
.gallery {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  &_auto {
    gap: 6px;
    @media (min-width: $lg) {
      gap: 16px;
    }
    .gallery-item__img-wrap {
      aspect-ratio: auto;
      height: 100%;
      width: 100%;
    }
  }
  .gallery-item-lg {
    grid-column: span 2;
  }
}
.gallery-item {
  padding: 8px;
  background: rgba(200, 200, 200, 0.784);
  border-radius: 16px;
  transition: all 0.3s;
  &:hover {
    background: var(--primary-color);
    .gallery-item-caption {
      color: white;
    }
    .img-fill {
      transform: scale(1.1);
    }
  }
  .gallery-item-caption {
    margin-top: 10px;
  }
  &__img-wrap {
    aspect-ratio: 1/1;
    position: relative;
    border-radius: inherit;
    overflow: hidden;
  }
  .img-fill {
    position: absolute;
    transition: all 0.3s;
  }
}

.section-contents {
  &__contents {
    display: grid;
    @media (min-width: $md) {
      grid-template-columns: 0.8fr 0.4fr;
    }
    @media (min-width: $xl) {
      grid-template-columns: 0.6fr 0.4fr;
    }
  }
  &__small-gallery {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(3, 60px);
    align-items: center;
    justify-content: center;
  }
  .img-sm {
    width: 60px;
    height: 60px;
    border-radius: 25%;
  }
}

.section-special {
  &__img-wrap {
    border-radius: var(--border-radius-md);
    overflow: hidden;
  }
  &__grid {
    display: grid;
    gap: 24px;
    @media (min-width: $md) {
      grid-template-columns: 0.4fr 0.6fr;
    }
    @media (min-width: $xl) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.list-events {
  font-weight: 700;
  margin-top: 32px;
  @media (min-width: $md) {
    margin-top: 60px;
  }
}
