.section-hero {
  min-height: 600px;
  background: url(assets/img/hero-bg.png) center/ cover no-repeat;

  &__hero-container {
    position: relative;
    z-index: 5;

    padding-bottom: 60px;
    color: white;
  }
}
